{% extends "layouts/default.html" %}
{% block content %}
<!--main-container-part-->
<div id="content">
 <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
 <div class="container-fluid"><hr>
    <div class="quick-actions_homepage">
      <ul class="quick-actions"> 
	  <li class="bg_ly"> <a href="widgets.html"> <i class="icon-user"></i><span class="label label-success">105</span> Users </a> </li>
      </ul>
    </div>   
  </div>
  </div>
  {% endblock %}