{% extends "layouts/login.html" %}
{% block content %}
<div id="loginbox">
            <form id="restepassword" name="frm" method="post" action="{{ env.HOST_NAME }}reset-password" class="form-vertical"  novalidate="novalidate">
				 <div class="control-group normal_text"> 
				 <h3>UXArmy</h3>
				 
				  {% if success.length > 0 %}
				 <div class="alert alert-success">
              <button class="close" data-dismiss="alert">×</button>
              <strong>Success!</strong> {{ success }}</div>
				 {% endif %}
				 {% if errordata %}
				{% for item in errordata %}
				 <div class="alert alert-error">
				  <button class="close" data-dismiss="alert">×</button>
				  <strong>Error! </strong>{{item.msg}}
				  </div>
				{% endfor %}	
				 {% endif %}
				 </div>
					<div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span>
							<input name ="email" readonly type="email" placeholder="Email-id" value="{% if formdata.email %}{{formdata.email}}{% endif %}" />
                        </div>
                    </div>
                </div>
				<div class="control-group">
				  <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-lock"> </i></span>
							<input name ="token" type="text" placeholder="Enter 4 digit password reset token" value="{% if formdata.token %}{{formdata.token}}{% endif %}" />
                        </div>
                    </div>
				</div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" value="" name ='password' id ='password' placeholder="Password"/>
                        </div>
                    </div>
                </div>
				 <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input id="cpassword" type="password" value="" name ='cpassword' placeholder="confirm Password"/>
                        </div>
                    </div>
                </div>
				
                <div class="form-actions">
                    <span class="pull-left"><a href="{{ env.HOST_NAME }}login" class="flip-link btn btn-info" >Login ? </a></span>
                    <span class="pull-right">
					  <input class="btn btn-success" type="submit" value="Submit">
					</span>
                </div>
            </form>

</div>
{% endblock %}